.home-page {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    @include for-mobile-layout {
        width: 88vw;
    }
    @include for-normal-layout {
        width: 88vw;
    }
    .process {
        width: 100%;
        background-color: #2c8dbe;
        height: 14vh;
        color: $clr2;
        font-size: rem(18px);
        border-radius: 10px;
        margin-bottom: 10px;
        @include for-mobile-layout {
            height: 13.5vh;
            align-items: initial;
            padding-top: 7px;
            font-size: rem(16.5px);
            line-height: em(18px);
        }
        img {
            margin-right: 16px;
            width: 60px;
            height: 60px;
            @include for-mobile-layout {
                height: 40px;
                width: 40px;
                margin-right: 10px;
            }
        }
        div {
            margin-right: 16px;
            padding-left: 50px;
            @include for-mobile-layout {
                margin-right: 10px;
                padding-left: 15px;
            }
        }
    }
}
