@font-face {
    font-family: assitant-regular;
    src: url(../assets/fonts/Assitant/Assistant-Regular.ttf);
}
@font-face {
    font-family: assitant-bold;
    src: url(../assets/fonts/Assitant/Assistant-Bold.ttf);
}
@font-face {
    font-family: assitant-extra-bold;
    src: url(../assets/fonts/Assitant/Assistant-ExtraBold.ttf)
}
